{{ define "main" }}
<main>
	<article>
		<br><iframe data-aa='1927905' src='//acceptable.a-ads.com/1927905' style='border:0px; padding:0; width:100%; height:100%; overflow:hidden; background-color: transparent;'></iframe>
		<br>
		<div class="title">
			<h1 class="title">{{ .Title }}</h1>
			<div class="meta"><strong>{{ .WordCount
 }}</strong> Words | <strong>Posted on</strong> {{ dateFormat "Jan 2, 2006" .Date }} | Reading Time <strong>{{ .ReadingTime }} Minutes</strong>{{ if .Draft }}<span class="draft-label">DRAFT</span> {{ end }}</div>
			<br>
			<strong>Page Contents</strong>
			{{ .TableOfContents }}
		</div>
		{{ if isset .Params "tldr" }}
		<div class="tldr">
			<strong>tl;dr:</strong>
			{{ .Params.tldr }}
		</div>{{ end }}

		<section class="body">
			{{ .Content }}
		</section>
		{{ template "partials/related.html" . }}
		<div class="post-tags">
			{{ if ne .Type "page" }}
			{{ if gt .Params.tags 0 }}
			<nav class="nav tags">
				<ul class="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</nav>
			{{ end }}
			{{ end }}
		</div>
	</article>
</main>
{{ end }}
